.vagrant
*.log
node_modules
.scannerwork
*.env
*.jks
keystore.jks
*.pem
*.der
*.crt
*.key
*.pfx
*.csr
*.srl
output
output-cluster
kubeconfig.yaml
options-ssl-nginx.conf
*.out
node_exporter-1.9.0/node_exporter-1.9.0.linux-amd64